<figure class="span3 feature">
  <div class="ftr_img f-img-1">
    <span class="img">Community</span>
  </div>
  <div class="ftr_txt">
    <strong>Community</strong>
    <p>We host nearly an event a day, including dinners, game nights, fitness outtings, support groups, and holiday parties.</p>
  </div>
</figure>

<figure class="span3 feature">
  <div class="ftr_img f-img-2">
    <span class="img">Education</span>
  </div>
  <div class="ftr_txt">
    <strong>Education</strong>
    <p>We maintain a monthly lecture series where members or invited experts share knowledge on all manner of topics.</p>
  </div>
</figure>

<figure class="span3 feature">
  <div class="ftr_img f-img-3">
    <span class="img">Volunteering </span>
  </div>
  <div class="ftr_txt">
    <strong>Volunteering</strong>
    <p>Many of our members enjoy helping others so we organize regular volunteering events, like helping out at the local food bank.</p>
  </div>
</figure>

<figure class="span3 feature">
  <div class="ftr_img f-img-4">
    <span class="img">Activism</span>
  </div>
  <div class="ftr_txt">
    <strong>Activism</strong>
    <p>We strongly believe in concepts like the separation of church and state and we do our part to protect these rights for everyone.</p>
  </div>
</figure>
