<h2 class="title">
  The AOK Store
  <span class="h-line"></span>
</h2>

<div id="slider_shop">
  <ul id="shop_slider">
    <% Product.random(9).each do |product| %>
      <li>
        <div class="img"><%= image_tag product.photo_url, alt: product.name.html_safe %></div>
        <div class="price_cart">
          <span class="price"><%= product.price %></span>
          <%= link_to icon(:shopping_cart), product.url, data: {placement: "top"}, rel: "tooltip", title: "View this item on Zazzle" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
