<ul id="banner_slider">
  <li>
    <%= image_tag "member_christi_dawson.png", alt: "Christi Dawson" %>
  </li>
  <li>
    <%= image_tag "member_christi_dawson.png", alt: "Christi Dawson" %>
  </li>
  <li>
    <%= image_tag "member_christi_dawson.png", alt: "Christi Dawson" %>
  </li>
</ul>
