<ul id="banner_slider">
  <li>
    <%= image_tag "member_christi_dawson.png", alt: "Christi Dawson" %>
  </li>
  <li>
    <%= image_tag "member_damion_reinhardt.png", alt: "Damion Reinhardt" %>
  </li>
  <li>
    <%= image_tag "member_ellison_darling.png", alt: "Ellison Darling" %>
  </li>
  <li>
    <%= image_tag "member_leonna_loveless.png", alt: "Leonna Loveless" %>
  </li>
</ul>
