<%= content_for(:head) do %>
  <meta http-equiv="refresh" content="5;URL=http://www.oklahomaatheists.com">
<% end %>

<section class="mtop">
  <section class="container-fluid container">
    <section class="row-fluid">
      <section id="donation_box">
        <section class="container container-fluid">
          <section class="row-fluid">
            <figure class="span12">
              <h2>Did you mean to go to <%= link_to "OklahomaAtheists.com", "http://www.oklahomaatheists.com" %>?</h2>
            </figure>
          </section>
        </section>
      </section>
    </section>

    <section class="s-holder">
      <div class="row-fluid">
        <div class="span12">
          <p>I hope so because you are going to be redirected in 5 seconds.</p>
        </div>
      </div>
    </section>
  </section>
</section>
