.top_bar {
    a:link, a:visited, a:hover, a:active {
        color:           #A1A1A1;
        text-decoration: none;
    }
    .social li {
        a.s9:link  { background-position: -269px 0;    }
        a.s9:hover { background-position: -269px 32px; }
    }
}

#footer .footer_2 {
    a:link, a:visited, a:hover, a:active {
        color:           #FFFFFF;
        text-decoration: none;
    }
}