.top_bar {
    a:link, a:visited, a:hover, a:active {
        color:           #A1A1A1;
        text-decoration: none;
    }
}

#footer .footer_2 {
    a:link, a:visited, a:hover, a:active {
        color:           #FFFFFF;
        text-decoration: none;
    }
}