<h2>Join our online community at <%= link_to "Facebook.com", AOK::SOCIAL_MEDIA_ACCOUNTS["Facebook"].url %></h2>
<h3>Or join us for in-person events listed at <%= link_to "Meetup.com", nav_links.find { |link| link.title == "Events" }.url %></h3>
